from botmanager.structs import BotStruct

BOTS = [
        BotStruct(path="/home/some/path/to/bot/",
                  command='python3',
                  main_file='start_bot.py',
                  logfile="/home/some/path/to/bot/searchbot.log",
                  name='botto!'),
       ]