# cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# dev IDE folders
.idea
venv/

# production data
*db.sqlite3
volumes/app/myapp/migrations
volumes/app/mysite/bot_settings.py
volumes/app/mysite/local_settings.py
volumes/app/static/js/node_modules
volumes/app/pogoprotos
volumes/bots/
volumes/postgres/
volumes/staticfiles
docker-compose.yml
