version: '2.4'
services:
  db:
    image: postgres:10
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_DB=postgres

  # Redis
  redis:
    image: redis

  # RabbitMQ
  rabbit:
    image: rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  # Django web server
  web:
    build:
      context: ./build/
    command: /run_web.sh
    volumes:
      - ./volumes/app:/app
      - ./build/requirements.txt:/app/requirements.txt
    ports:
      - "8000:8000"
    # set up links so that web knows about db, rabbit and redis
    links:
      - db
      - rabbit
      - redis
    depends_on:
      - db

  # Celery worker
  worker:
    build:
      context: ./build/
    command: /run_celery.sh
    volumes_from:
      - web
    links:
      - db
      - rabbit
      - redis
    depends_on:
      - rabbit

## to build protobufs for local development, uncomment this and run it once
#  build_pogoprotos:                      
#    build:                               
#      context: ./build/pogoprotos        
#    volumes:                             
#      - ./volumes/app/pogoprotos:/volume 
#

  
