{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="{% static 'js/node_modules/jquery-ui-dist/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'js/node_modules/leaflet/dist/leaflet.css' %}"/>
<link rel="stylesheet" href="{% static 'js/node_modules/leaflet.markercluster/dist/MarkerCluster.css'%}">
<link rel="stylesheet" href="{% static 'js/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css'%}">
<link rel="stylesheet" href="{% static 'js/node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'js/node_modules/sidebar-v2/css/leaflet-sidebar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />

<div id="sidebar"  class="sidebar collapsed">
          <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                {% if request.user.is_superuser %}
                <li><a href="#bots" role="tab"><i class="fab fa-discord"></i></a></li>
                {% endif %}
                <li><a href="#settings" role="tab"><i class="fas fa-cog"></i></a></li>
            </ul>

            <ul role="tablist">
                {% if request.user.is_superuser %}
                <li><a href="https://rdm.pogo-fr.de" role="tab" target="_blank"><i class="fas fa-mobile-alt"></i></a></li>
                {% endif %}
                <li><a href="https://github.com/breee/django-pokemon-bot-manager" role="tab" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="/accounts/logout" role="tab"><i class="fas fa-sign-out-alt"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="bots">
                <h1 class="sidebar-header">Discord Bots<span class="sidebar-close"><i class="fas fa-caret-left"></i></span></h1>
                {% include "bot/index.html" %}
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fas fa-caret-left"></i></span></h1>
                <input type="checkbox" name="pokestopsHidden" value="pokestopsHidden" onclick="togglePokestops();">Pokestops<br>
                <input type="checkbox" name="gymsHidden" value="gymsHidden" onclick="toggleGyms();" checked>Gyms<br>
                <input type="checkbox" name="ivPokemonHidden" value="ivPokemon" onclick="toggleRegularPokemon();" checked>Pokemon without iv data<br>
                <input type="checkbox" name="regularPokemonHidden" value="regularPokemon" onclick="toggleIVPokemon();" checked>Pokemon WITH iv data<br>
                <input type="checkbox" name="mapperHidden" value="mapperHidden" onclick="toggleMapper();" checked>Show Mapper iPhones<br>
            </div>

</div>
</div>
<div id="map" class="sidebar-map"></div>

<!-- JQuery -->
<script src="{% static 'js/node_modules/jquery/dist/jquery.min.js'%}"></script>
<script src="{% static 'js/node_modules/jquery-ui-dist/jquery-ui.min.js'%}"></script>

<!-- leaflet -->
<script src="{% static 'js/node_modules/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'js/node_modules/sidebar-v2/js/leaflet-sidebar.min.js' %}"></script>
<script src="{% static 'js/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>

<!-- reconnecting WS -->
<script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>


<!-- my code -->
<script src="{% static 'js/map/cookie.js' %}"></script>
<script src="{% static 'js/map/myleaflet.js' %}"></script>
<script src="{% static 'js/map/map.js' %}"></script>


