{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'js/node_modules/leaflet/dist/leaflet.css' %}"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
      integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
      crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'js/node_modules/sidebar-v2/css/leaflet-sidebar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />

<div id="sidebar"  class="sidebar collapsed">
          <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fas fa-bars"></i></a></li>
                <li><a href="#bots" role="tab"><i class="fab fa-discord"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="https://github.com/breee/django-pokemon-bot-manager" role="tab" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="#settings" role="tab"><i class="fas fa-cog"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    <span class="sidebar-close"><i class="fas fa-caret-left"></i></span>
                </h1>
            <p>Date: <input type="text" id="datepicker"></p>
            </div>

            <div class="sidebar-pane" id="bots">
                <h1 class="sidebar-header">Discord Bots<span class="sidebar-close"><i class="fas fa-caret-left"></i></span></h1>
                {% include "bot/index.html" %}
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<span class="sidebar-close"><i class="fas fa-caret-left"></i></span></h1>
                <input type="checkbox" name="pokestop" value="pokestopsHidden" onclick="togglePokestops();">Pokestops<br>
                <input type="checkbox" name="gym" value="gymsHidden" onclick="toggleGyms();" checked>Gyms<br>
                <input type="checkbox" name="ivPokemon" value="ivPokemon" onclick="toggleRegularPokemon();" checked>Pokemon without iv data<br>
                <input type="checkbox" name="regularPokemon" value="regularPokemon" onclick="toggleIVPokemon();" checked>Pokemon WITH iv data<br>
            </div>
</div>
</div>
<div id="map" class="sidebar-map"></div>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- leaflet -->
<script src="{% static 'js/node_modules/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'js/node_modules/sidebar-v2/js/leaflet-sidebar.min.js' %}"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>


<!-- my code -->
<script src="{% static 'js/myleaflet.js' %}"></script>


