DATABASES = {
     'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'postgres',
        'USER': 'postgres',
        'PASSWORD': 'changeme',
        'HOST': 'db',
        'PORT': '5432',
    },
    'monocle': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'monocle',
        'USER': 'user',
        'PASSWORD': 'replace secret',
        'HOST': 'example.org',
        'PORT': '3306',
    }
}

CHANNEL_LAYERS = {
    "default": {
        "BACKEND": "channels_redis.core.RedisChannelLayer",
        "CONFIG": {
            "hosts": [("redis", 6379)],
        },
    },
}

ALLOWED_HOSTS = ['*']
SECRET_KEY = 'changeme'
DEBUG = False

SITE_ID = 2

EMAIL_BACKEND = 'django.core.mail.backends.dummy.EmailBackend'
