<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bot Manager</title>
</head>
<body>
{% for status in bot_status %}
    <p>Bot {{ forloop.counter0 }}: {% if status %} up {% else %} down {% endif %}</p>
{% endfor %}

<form action="/bot/up">
     <select name="bot">
         <option value="-1"></option>
         {% for bot in bot_list %}
         <option value="{{ forloop.counter0 }}">{{ bot.name }}</option>
         {% endfor %}
     </select>
     <input type="submit" value="Start Bot">
</form>
<form action="/bot/down">
     <select name="bot">
         <option value="-1"></option>
         {% for bot in bot_list %}
         <option value="{{ forloop.counter0 }}">{{ bot.name }}</option>
         {% endfor %}
     </select>
     <input type="submit" value="Stop Bot">
</form>
<form action="/bot/status">
     <select name="bot">
         <option value="-1"></option>
         {% for bot in bot_list %}
         <option value="{{ forloop.counter0 }}">{{ bot.name }}</option>
         {% endfor %}
     </select>
     <input type="submit" value="check bot status">
</form>
<form action="/bot/output">
     <select name="bot">
         <option value="-1"></option>
         {% for bot in bot_list %}
         <option value="{{ forloop.counter0 }}">{{ bot.name }}</option>
         {% endfor %}
     </select>
     <input type="submit" value="show bot log">
</form>
<form action="/bot/output/clear">
     <select name="bot">
         <option value="-1"></option>
         {% for bot in bot_list %}
         <option value="{{ forloop.counter0 }}">{{ bot.name }}</option>
         {% endfor %}
     </select>
     <input type="submit" value="clear bot log">
</form>
<form action="/bot/git_pull">
     <select name="bot">
         <option value="-1"></option>
         {% for bot in bot_list %}
         <option value="{{ forloop.counter0 }}">{{ bot.name }}</option>
         {% endfor %}
     </select>
     <input type="submit" value="git pull">
</form>
</body>
</html>